In [1]:
import pandas as pd 
df = pd.read_csv("US Stock Market Dataset.csv")
df

,Unnamed: 0,Date,Natural_Gas_Price,Natural_Gas_Vol.,Crude_oil_Price,Crude_oil_Vol.,Copper_Price,Copper_Vol.,Bitcoin_Price,Bitcoin_Vol.,...,Berkshire_Price,Berkshire_Vol.,Netflix_Price,Netflix_Vol.,Amazon_Price,Amazon_Vol.,Meta_Price,Meta_Vol.,Gold_Price,Gold_Vol.
0,1,1/2/2024,2.050,161340.0,73.82,577940.0,3.8535,NaN,"43,081.40",47690,...,"5,81,600",9780,567.51,3150000,159.28,66360000,394.78,25140000,"2,071.10",260920.0
1,2,31-01-2024,2.100,142860.0,75.85,344490.0,3.9060,NaN,"42,580.50",56480,...,"5,78,020",9720,564.11,4830000,155.20,49690000,390.14,20010000,"2,067.40",238370.0
2,3,30-01-2024,2.077,139750.0,77.82,347240.0,3.9110,NaN,"42,946.20",55130,...,"5,84,680",9750,562.85,6120000,159.00,42290000,400.06,18610000,"2,050.90",214590.0
3,4,29-01-2024,2.490,3590.0,76.78,331930.0,3.8790,NaN,"43,299.80",45230,...,"5,78,800",13850,575.79,6880000,161.26,42840000,401.02,17790000,"2,034.90",1780.0
4,5,26-01-2024,2.712,73020.0,78.01,365460.0,3.8520,NaN,"41,811.30",69470,...,"5,82,300",10040,570.42,12770000,159.12,51050000,394.14,13160000,"2,026.60",410.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,1008,8/1/2020,2.141,242560.0,59.61,1210000.0,2.8120,77700.0,"8,059.60",1190000,...,"3,39,188",190,339.26,7110000,94.60,70240000,215.22,13490000,"1,560.20",813410.0
1008,1009,7/1/2020,2.162,163010.0,62.70,582650.0,2.7935,59470.0,"8,155.70",1010000,...,"3,38,901",280,330.75,4740000,95.34,82680000,213.06,15110000,"1,574.30",435870.0
1009,1010,6/1/2020,2.135,154680.0,63.27,724240.0,2.7900,59570.0,"7,759.10",786750,...,"3,40,210",280,335.83,5670000,95.14,81310000,212.60,17070000,"1,568.80",558970.0
1010,1011,3/1/2020,2.130,144670.0,63.05,885860.0,2.7870,74750.0,"7,343.10",936290,...,"3,39,155",220,325.90,3800000,93.75,75330000,208.67,11200000,"1,552.40",436740.0
1011,1012,2/1/2020,2.122,164570.0,61.18,486870.0,2.8250,72460.0,"6,967.00",632780,...,"3,42,261",410,329.81,4350000,94.90,80720000,209.78,12090000,"1,528.10",270550.0

In [2]:
# Import necessary libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import math

# Import scikit-learn modules
from sklearn import datasets
from sklearn import model_selection
from sklearn.model_selection import train_test_split

## Data Preprocessing

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1012 entries, 0 to 1011
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1012 non-null   int64
 1   Date               1012 non-null   object
 2   Natural_Gas_Price  1012 non-null   float64
 3   Natural_Gas_Vol.   1009 non-null   float64
 4   Crude_oil_Price    1012 non-null   float64
 5   Crude_oil_Vol.     990 non-null    float64
 6   Copper_Price       1012 non-null   float64
 7   Copper_Vol.        976 non-null    float64
 8   Bitcoin_Price      1012 non-null   object
 9   Bitcoin_Vol.       1012 non-null   int64
 10  Platinum_Price     1012 non-null   object
 11  Platinum_Vol.      636 non-null    float64
 12  Ethereum_Price     1012 non-null   object
 13  Ethereum_Vol.      1012 non-null   int64
 14  S&P_500_Price      1012 non-null   object
 15  Nasdaq_100_Price   1012 non-null   object
 16  Nasdaq_100_Vol.    1011 non-null   float64
 17  Apple_Price        1012 non-null   float64
 18  Apple_Vol.         1012 non-null   int64
 19  Tesla_Price        1012 non-null   float64
 20  Tesla_Vol.         1012 non-null   int64
 21  Microsoft_Price    1012 non-null   float64
 22  Microsoft_Vol.     1012 non-null   int64
 23  Silver_Price       1012 non-null   float64
 24  Silver_Vol.        967 non-null    float64
 25  Google_Price       1012 non-null   float64
 26  Google_Vol.        1012 non-null   int64
 27  Nvidia_Price       1012 non-null   float64
 28  Nvidia_Vol.        1012 non-null   int64
 29  Berkshire_Price    1012 non-null   object
 30  Berkshire_Vol.     1012 non-null   int64
 31  Netflix_Price      1012 non-null   float64
 32  Netflix_Vol.       1012 non-null   int64
 33  Amazon_Price       1012 non-null   float64
 34  Amazon_Vol.        1012 non-null   int64
 35  Meta_Price         1012 non-null   float64
 36  Meta_Vol.          1012 non-null   int64
 37  Gold_Price         1012 non-null   object
 38  Gold_Vol.          1011 non-null   float64
dtypes: float64(19), int64(12), object(8)
memory usage: 308.5+ KB

In [4]:
df.isnull().sum()

Unnamed: 0             0
Date                   0
Natural_Gas_Price      0
Natural_Gas_Vol.       3
Crude_oil_Price        0
Crude_oil_Vol.        22
Copper_Price           0
Copper_Vol.           36
Bitcoin_Price          0
Bitcoin_Vol.           0
Platinum_Price         0
Platinum_Vol.        376
Ethereum_Price         0
Ethereum_Vol.          0
S&P_500_Price          0
Nasdaq_100_Price       0
Nasdaq_100_Vol.        1
Apple_Price            0
Apple_Vol.             0
Tesla_Price            0
Tesla_Vol.             0
Microsoft_Price        0
Microsoft_Vol.         0
Silver_Price           0
Silver_Vol.           45
Google_Price           0
Google_Vol.            0
Nvidia_Price           0
Nvidia_Vol.            0
Berkshire_Price        0
Berkshire_Vol.         0
Netflix_Price          0
Netflix_Vol.           0
Amazon_Price           0
Amazon_Vol.            0
Meta_Price             0
Meta_Vol.              0
Gold_Price             0
Gold_Vol.              1
dtype: int64

In [5]:
# Calculate the mean of numeric columns
numeric_columns = df.select_dtypes(include=[np.number])
column_means = numeric_columns.mean()

# Fill null values with the respective column means
df_filled = df.fillna(column_means)

# Check if there are any remaining null values
df=df_filled
print(df.isnull().sum())

Unnamed: 0           0
Date                 0
Natural_Gas_Price    0
Natural_Gas_Vol.     0
Crude_oil_Price      0
Crude_oil_Vol.       0
Copper_Price         0
Copper_Vol.          0
Bitcoin_Price        0
Bitcoin_Vol.         0
Platinum_Price       0
Platinum_Vol.        0
Ethereum_Price       0
Ethereum_Vol.        0
S&P_500_Price        0
Nasdaq_100_Price     0
Nasdaq_100_Vol.      0
Apple_Price          0
Apple_Vol.           0
Tesla_Price          0
Tesla_Vol.           0
Microsoft_Price      0
Microsoft_Vol.       0
Silver_Price         0
Silver_Vol.          0
Google_Price         0
Google_Vol.          0
Nvidia_Price         0
Nvidia_Vol.          0
Berkshire_Price      0
Berkshire_Vol.       0
Netflix_Price        0
Netflix_Vol.         0
Amazon_Price         0
Amazon_Vol.          0
Meta_Price           0
Meta_Vol.            0
Gold_Price           0
Gold_Vol.            0
dtype: int64

In [6]:
# Remove commas and spaces from all columns
df = df.replace({',': '', ' ': ''}, regex=True)

In [7]:
# List of columns to process
columns_to_process = ['Natural_Gas_Price', 'Natural_Gas_Vol.', 'Crude_oil_Price', 'Crude_oil_Vol.',
                      'Copper_Price', 'Copper_Vol.', 'Bitcoin_Price', 'Bitcoin_Vol.',
                      'Platinum_Price', 'Platinum_Vol.', 'Ethereum_Price', 'Ethereum_Vol.',
                      'S&P_500_Price', 'Nasdaq_100_Price', 'Nasdaq_100_Vol.',
                      'Apple_Price', 'Apple_Vol.', 'Tesla_Price', 'Tesla_Vol.',
                      'Microsoft_Price', 'Microsoft_Vol.', 'Silver_Price', 'Silver_Vol.',
                      'Google_Price', 'Google_Vol.', 'Nvidia_Price', 'Nvidia_Vol.',
                      'Berkshire_Price', 'Berkshire_Vol.', 'Netflix_Price', 'Netflix_Vol.',
                      'Amazon_Price', 'Amazon_Vol.', 'Meta_Price', 'Meta_Vol.',
                      'Gold_Price', 'Gold_Vol.']

# Convert the columns to float
df[columns_to_process] = df[columns_to_process].astype(float)

### Define the Training Features and Target Variable

In [10]:
X= df[['Apple_Price', 'Tesla_Price', 'Microsoft_Price', 'Google_Price', 'Nvidia_Price', 'Berkshire_Price']]
y=df["S&P_500_Price"]
print(x,y)

      Apple_Price  Tesla_Price  Microsoft_Price  Google_Price  Nvidia_Price  \
0          186.86       188.86           403.78        141.16        630.27
1          184.40       187.29           397.58        140.10        615.27
2          188.04       191.59           408.59        151.46        627.74
3          191.73       190.93           409.72        153.51        624.65
4          192.42       183.25           403.93        152.18        610.31
...           ...          ...              ...           ...           ...
1007        75.80        32.81           160.09         70.25         60.09
1008        74.60        31.27           157.58         69.76         59.98
1009        74.95        30.10           159.03         69.89         59.27
1010        74.36        29.53           158.62         68.08         59.02
1011        75.09        28.68           160.62         68.43         59.98

      Berkshire_Price
0            581600.0
1            578020.0
2            584680.0
3            578800.0
4            582300.0
...               ...
1007         339188.0
1008         338901.0
1009         340210.0
1010         339155.0
1011         342261.0

[1012 rows x 6 columns] 0       4906.19
1       4848.87
2       4924.97
3       4927.93
4       4890.97
         ...
1007    3253.05
1008    3237.18
1009    3246.28
1010    3234.85
1011    3257.85
Name: S&P_500_Price, Length: 1012, dtype: float64

### Split the Dataset into Training and Testing Portion

In [11]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = 1)

### Scale the Features

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaler = scaler.fit_transform(X_train)
X_test_scaler = scaler.transform(X_test)

Sometimes I use minmax scaler as well

### Model Training First Version

In [13]:
from sklearn.svm import SVR
svr = SVR().fit(X_train_scaler, y_train)

### Model Evaluation

In [14]:
from sklearn.metrics import mean_absolute_error
y_pred = svr.predict(X_test_scaler)
mean_absolute_error(y_test, y_pred)

349.5588569411857

### Model Training Second Version

In [15]:
from sklearn.svm import SVR
svr1 = SVR(kernel = 'linear').fit(X_train_scaler, y_train)

### Model Evaluation

In [16]:
y_pred1 = svr1.predict(X_test_scaler)
mean_absolute_error(y_test, y_pred1)

110.64327862501175

In [17]:
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

# Define the parameter grid to search
param_grid = {
    'C': [0.1, 1.0, 10.0],
    'kernel': ['linear', 'rbf', 'poly'],
    'gamma': ['scale', 'auto'],
    'epsilon': [0.1, 0.2, 0.3]
}

# Create SVR model
svr = SVR()

# Perform GridSearchCV for parameter tuning
grid_search = GridSearchCV(svr, param_grid, cv=5, scoring='neg_mean_squared_error', n_jobs=-1)
grid_search.fit(X_train_scaler, y_train)

# Print the best parameters and best score
print("Best Parameters:", grid_search.best_params_)
print("Best Score:", -grid_search.best_score_)

# Predict on the test set using the best estimator
y_pred = grid_search.best_estimator_.predict(X_test_scaler)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error on Test Set:", mse)

Best Parameters: {'C': 10.0, 'epsilon': 0.3, 'gamma': 'scale', 'kernel': 'linear'}
Best Score: 15255.278800510006
Mean Squared Error on Test Set: 14766.310356179625